.App {
  text-align: center;
  overflow: hidden;
}

.navbar-dark {
  background-color: #1b2223 !important;
  padding: .5%;
  padding-left: 2%;
  padding-right: 2%;

}
.fa-bars {
  color: white;
  border: none;
  font-size: 3vh;
  height: auto;
}
.navbar-toggler:focus {
  outline: none !important;
}
.navbar-dark .navbar-toggler {
  border: 0;
}
.sections {
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#sectionOne {
  background: 
  linear-gradient(#1b222300, #1b222326, #1b22235a, #1b2223c2, #1b2223, #1b2223),
  url('../src/assets//photos/rst_sanctuary.jpeg');
  background-attachment: scroll;
  background-position: center center;
}
#sectionTwo {
  background-color: #1b2223;
}
#sectionThree {
  background-color: green;
}