.App {
  text-align: center;
  overflow: hidden;
  font-family: 'CMGSans';
  color: white;
  background-color: #1b2223;
}

.navbar-dark {
  background-color: #1b2223 !important;
  padding: .5%;
  padding-left: 2%;
  padding-right: 2%;

}
.fa-bars {
  color: white;
  border: none;
  font-size: 3vh;
  height: auto;
}
.navbar-toggler:focus {
  outline: none !important;
}
.navbar-dark .navbar-toggler {
  border: 0;
}
.sections {
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#sectionOne {
  background: 
  linear-gradient(#1b222300, #1b222326, #1b22235a, #1b2223c2, #1b2223, #1b2223),
  url('../src/assets//photos/rst_sanctuary.jpeg');
  background-attachment: scroll;
  background-position: center center;
  height: 100vh;
  display: flex;
}
#sectionTwo {
  background-color: #1b2223;
  background-attachment: fixed;
  height: 85vh;
}
#sectionThree {
  background:
  linear-gradient(#1b2223, #1b2223b5,#1b22238c, #1b2223),
  url('../src/assets//photos/coolsmoky.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.heroText {
  color: white;
  font-size: 75px;
  margin: auto;
}
.textArea {
  text-align: left;
  width: 60%;
  align-self: center;
  margin: auto;
  color: white;
}
#headshot {
  width: 55%;
  height: 55%;
  margin: auto;
  background: 
  linear-gradient(#1b222300, #1b222326, #1b22235a, #1b2223c2, #1b2223, #1b2223),
  url('../src/assets//photos/headshot.png');
  background-position: center center;
  background-size: contain;
}